Requirements
- Pen
- Pencil
- Sharpener and Cleaner
- Knowledge on answers to PastQuestions and TestQuestions
- Knowledge on how to draw all the diagrams for a system e.g
  - Usecases
  - Class Diagrams
  - Entity Relationship Diagrams (ERD)
  - Activity Diagram
  - Sequence Diagram








